@using Review15PersonalProfolio.Models;
@using Microsoft.EntityFrameworkCore;
    

<div>
        @foreach (Post p in Model)
        {
            <div class="post-container">
                <input type="hidden" name="postId" value=@p.PostId>
                @Html.DisplayFor(modelItem => p.Title)
                <div class="post-body">
                    <div class="post-img-container">
                        <img src="@Url.Content(@p.Img)" alt="@p.Alt" />
                    </div>
                    <div class="post-text">
                    @Html.DisplayTextFor(modelItem => p.Text)
                    </div>
                </div>
            @Html.ActionLink("Write a responce", "Responce", new { id = @p.PostId , title = @p.Title});
            @if (p.BlogResponces.Count() > 0)
            {
                <span class="responce-reveal">Click to View Responces</span>
                 @foreach (Responce r in p.BlogResponces)
                 {
                    <div class="responce-container">
        
                     <div class="responce-text">
                         <p>
                            @r.ResponceText
                         </p>
                     </div>
                    </div>
                 }
            }
            </div>
     
        }  
</div>