@using Review15PersonalProfolio.Models;
@using Microsoft.EntityFrameworkCore;
    


        @foreach (Post p in Model)
        {
            <br />
            <a href=@Url.Action("PostDisplayView/" + @p.PostId + "", "Blog")>
            <div class="post-container">
                <div class="post-frame">
                <input type="hidden" name="postId" value=@p.PostId>
                <div class="post-body">
                <div class="post-title">
                    <h3>@Html.DisplayFor(modelItem => p.Title)</h3>
                </div>
                <div class="post-img-container"><br />
                <img src="@Url.Content(@p.Img)" alt="@p.Alt" class="post-img" />
                </div>
                <div class="post-text"><br />
                  @Html.DisplayTextFor(modelItem => p.Blurb)
                </div>
                </div>
            </div> 
            </div>
         </a>
<br />
        } 
      
