@using Review15PersonalProfolio.Models;
@using Microsoft.EntityFrameworkCore;


@foreach (Post p in Model)
{
    <br />
    <div class="post-container">
        <div class="post-frame">
            <input type="hidden" name="postId" value=@p.PostId>
            <div class="post-body">
                <div class="post-title">
                    <h3>@Html.DisplayFor(modelItem => p.Title)</h3>
                </div>
                <div class="post-img-container">
                    <br />
                    <img src="@Url.Content(@p.Img)" alt="@p.Alt" class="post-img" />
                </div>
                <div class="post-text">
                    <br />
                    @Html.DisplayTextFor(modelItem => p.Text)
                </div>
            </div><br />
        </div>
        <h4>@Html.ActionLink("Write a responce", "Create", "Responce", new { id = @p.PostId, title = @p.Title })</h4> <br />
        @if ((p.BlogResponces != null) && (p.BlogResponces.Count() > 0))
        {
            <span class="responce-reveal">Click to View Responces</span>
            <div class="responce-block">
                @foreach (Responce r in p.BlogResponces)
                {
                    <div class="responce-container">
                        <div>
                            <p>
                                Written by : @r.ProfileName
                            </p>
                        </div>
                        <div class="responce-text">
                            <p>
                                @r.ResponceText
                            </p>
                        </div>
                    </div>
                }

            </div>

        }
    </div>
}
